<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        text-align:center;
    }

</style>


{% set lastRound = '' %}
{% for roundNo, round in log %}
    {% if roundNo != lastRoundNo %}
        <hr>
        <h3>Round {{ roundNo }}</h3>
    {% endif %}

    {% for k, entry in round %}
        {% if ('attacks' in entry) or ('WON!' in entry) %}
            <h4>{{ entry | raw }}</h4>
        {% else %}
            {{ entry | raw }}<br/>
        {% endif %}
    {% endfor %}

    {% set lastRound = roundNo %}
{% endfor %}