<table>
    <tr>
        <td colspan="5">{{ playerName }}</td>

        <td colspan="5">{{ rivalName }}</td>
    </tr>
    <tr>
        <td>Health</td>
        <td>Strenghts</td>
        <td>Defence</td>
        <td>Speed</td>
        <td>Luck</td>

        <td>Health</td>
        <td>Strength</td>
        <td>Defence</td>
        <td>Speed</td>
        <td>Luck</td>
    </tr>
    <tr>
        <td>{{ player.health }}</td>
        <td>{{ player.strength }}</td>
        <td>{{ player.defence }}</td>
        <td>{{ player.speed }}</td>
        <td>{{ player.luck }}</td>

        <td>{{ rival.health }}</td>
        <td>{{ rival.strength }}</td>
        <td>{{ rival.defence }}</td>
        <td>{{ rival.speed }}</td>
        <td>{{ rival.luck }}</td>
    </tr>

</table>